.box{
	display:flex;
	justify-content:space-around;
	margin-right:400px;
	background-color:rgb(208, 211, 212);
	text-align:center;
}
.main{
	text-decoration:none;
	color:black;
}
.xyz{
	margin-top:50px;
}


/*new*/
.box-1 i{
	color:#f9dd18;
	font-size:30px;
}
.box-1{
	border:1px solid black;
}
.main2{
	font-size:20px;
}
.page3{
	display:flex;
	justify-content:center;
	margin:70px;
	padding:50px;
}
.box-1{
	border:1px solid gray;
	margin:20px;
	text-align:center;
	padding:15px;
}
.pink{
	color:#1eafa1;
	text-decoration:none;
}


.mail-1{
	background-color:rgb(208, 211, 212);
	text-align:center;
}
.mail-2{
	display:flex;
	justify-content:space-evenly;
	padding:100px;
}
.mail{
	text-decoration:none;
	color:#1eafa1;
}